@media(max-width:1000px){

}

@media all and (max-width:670px){
    .header-right{
        display:none;
    }
    .menu-icon{
        visibility: visible;
    }

    .list-text{
        padding-bottom: 10px;
    }
    .message-wrapper {
        text-align: center;
       
      }
      
      .mid-wrapper {
          text-align: center;
      }
    
    .conten-list img {
        padding: 15px;
        flex: auto;
        bottom: 50px;
    }

    .footer-logo{
        width: 100%;
        text-align: center;
    }
    .footer-row{
        display: unset;
    }

    .footer-menu{
        padding-top: 20px;
        width: 100%;
        text-align: center;
        
    }
    .menu-one li{
        float: unset;
        margin-right: 0px;
        margin-top: 15px;
    }
    .footer-form{
        padding-top: 40px;
        width: 100%;
    }
    .contact-form{
        text-align: center;
    }

    .footer-extra{
        text-align: center;
        border-top: 1px solid #dee7ec;
    }
    .copyt{
        width: 50%;
    }
    .addmore{
        text-align: unset;
    }
}