@media(max-width:1000px){

}

@media all and (max-width:670px){
    .header-right{
        display:none;
    }
    .menu-icon{
        display: none;
    }
    .footer-logo{
        width: 100%;
        text-align: center;
    }
    .footer-row{
        display: unset;
    }

    .footer-menu{
        width: 100%;
        text-align: center;
}