body{
    margin: 0;
    font-family: "Gorgia";
}

a{
    text-decoration: none;
}

li{
  list-style: none;
}

header{
  color: white;
  height: 80px;
  width: 100%;
  background-color:#5460CF;
  position: fixed;
  top: 0;
  z-index: 10;
}

.container {
    max-width: 1170px;
    height: 100%;
    padding: 0 5px;
    margin: 0 auto;
}

.header-logo{
    float: left;
    margin-top: 2.17px;
    
}
.logo{
    width: 75px;
}

.header-right {
    float: right;
    margin-right: -20px;
  }
  
.header-right a {
  line-height: 65px;
  padding: 5px 20px;
  color: white;
  float: right;
  display: block;
  transition: all 0.5s;
  }

  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
  }

  .fa {
    margin: 7px;
  }

  .menu-icon{
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    visibility: hidden;
  }
  
  .top-content {
    padding-top: 180px;
    color: #fff;
    background-color: #5460CF;
    border-radius : 0 0 200px 0;
    height: auto;
  }
  .conten {
    display: flex;
    flex-wrap: wrap;
}

.gambart{
  width: 500px;
  height: auto;
}
.list-text {
  float: right;
    width: 50%;
    margin: 0 0 0 35px;
}

.top-content h1 {
    font-size: 45px;
    letter-spacing: 5px;
}

.top-content p{
    opacity: 0.7;
    margin-bottom: 3px;
}

.btn{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}

.tickets{
  background-color: #de4f34;
}

.btn-wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
}

.conten2 {
    display: flex;    
}

.text-init {
    width: 50%;
    margin: 40px 0 10px;
}

.message-wrapper p {
    opacity: 0.7;
    line-height: 25px;
}

.message-wrapper {
  display: flex;
  flex-wrap: wrap;
    height: auto;
    padding-bottom: 80px;
    background-color: white;
}

.mid-wrapper {
  display: flex;
  flex-wrap: wrap;
    height: auto;
    padding-bottom: 80px;
    background-color: #793cd2;
}

.conten3 {
    display: flex;
    flex-wrap: wrap;
}
/* nambah surya */
.conten4 {
  display: flex;
  padding: 90px;
}

.traveloka {
  background-color: #f7f7f7;
}

._3MvC8 {
  margin: 0 auto;
}

.MM img {
  border-radius: 15px;
}

.conten-list img {
    padding: 15px;
    flex: auto;
    bottom: 50px;
}

.bot-wrapper {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding-bottom: 80px;
  background-color: white;
}
.text-init-bot {
  width: 100%;
  margin: 40px 0 10px;
}

.conten3-bot {
  display: flex;
  flex-wrap: wrap;
}
.conten-list-bot{
  width: 25%;
}
.conten-list-bot img {
  width: 300px;
  padding: 15px;
  flex: auto;
}

  .wave.up{
      margin-top: 50px;
      margin-bottom: -5px;
  }

  .wave.bot{
    margin-bottom: 50px;
    margin-top: -5px;
}

  .wave{
      width: 100%;
  }

  .img-fluid{
      width: 100%;
      height: auto;
  }

  footer{
      background-color: #793cd2;
      max-width: 100%;
      height: auto;
  }
  .footer-row{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dee7ec;
  }
  .footer-logo{
    width: 60%;
    color: white;
    border-radius: 10px;
  }
  .footer-logo h1{
    margin-top: 30px;
    font-size: 30px;
    font-style: oblique;
  }
  .logo-bot{
      width: 150px;
      height: auto;

  }
  .footer-menu{
    margin: 0;
    color: white;
  }
  
  .menu-one{
    padding: 0;
    margin: 0;
  }
  
  .menu-one li{
    margin-right: 20px;
    margin-top: 30px;
    font-weight: bold;
    float: left
  }

  .menu-one li:hover{
    color: #de4f34;
    cursor: pointer;
  }

  .footer-form{
    width: 40%;
    color: white;
    font-size: 16px;
  }

input, textarea{
  width:400px;
  padding:7px;
  font-size:16px;
  border:1px solid #dee7ec;
  border-radius: 50px;
  }

.contact-submit{
  color: white;
  display: inline-block;
  opacity: 0.8;
  text-align: center;
  margin-bottom: 20px;
}

.message {
  padding: 15px 40px;
  background-color: #de4f34;
  cursor: pointer;
  box-shadow: 0 7px #ad432e;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.btn:hover {
  opacity: 1;
}

  .section-title {
    font-size: 30px;
    color: white;
    margin: 0;
  }

  .footer-extra {
    margin: 0;
    color: white;
    display: flex;
    flex-wrap: wrap;
  }
  .copyr{
    width: 50%;
  }

  .addmore{
    text-align: right;
    width: 50%;
    margin-top: 10px ;
    font-size: 20px;
  }

  .addmore span:hover{
    color: #de4f34;
  }

  



